
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
background-image: url(img/pexels-pixabay-264636.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
    color: #111;
}

header {
    background-color: #ff0000;
    color:  #ffd900;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 28px;
}

main {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    color: #ffd900;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

.lista-productos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.producto-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(131, 65, 65, 0.1);
    transition: transform 0.2s;
}

.producto-card:hover {
    transform: scale(1.02);
}

.producto-card span {
    font-size: 16px;
}

.producto-card button {
    background-color: transparent;
    color:   #ffd900;
    padding: 6px 12px;
    border-radius: 6px;
}

.producto-card button:hover {
    background-color: rgb(255, 0, 0);
}


